/* Hero section with background image */
.hero {
  background-image: url('/Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 698px;
  width: 100%;
  position: relative;
}

/* Default font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Common color for logo */
.common-color {
  color: #4E47FF;
}

/* Navigation bar styles */
.basic {
  display: flex;
  justify-content: space-between; /* LOGO এবং button দুটো দুই পাশে যাবে */
  align-items: center;
  margin: 0px 150px;
  padding: 20px;
}

/* Logo style */
.nav-title {
  font-size: 34px;
  font-weight: 800;
}

/* Sign Up বাটন */
.btn-primary {
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}

/* Hero heading & button container */
.hero-content {
  text-align: center;
  margin-top: 100px;
}

/*Main hero heading */
.hero-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

/* Hero section button */
.hero-btn {
  padding: 14px 30px;
  font-size: 18px;
  background-color: #4E47FF;
  color: rgb(255, 253, 253);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background-color: #372fff;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 100px auto;
    padding: 0 20px;
}
.text-2{
    font-family:'Raleway'sans-serif;
}
.image img{
    border-radius: 40px;
}
.text-color{
    color: #252432;
    opacity: 50%;
}